.jumbotron {
	text-align: center;
	width: 80%;
	margin: auto;
	opacity: 0.85;
}

h1 {
	color: red !important;
	font-weight: bold;
}
p {
	font-weight: bold !important;
}
h2 {
	color: blue !important;
	font-weight: bold;
}

#howToPlay {
	color: green !important;
}

#timerContainer {
	color: orange !important;
}

#answers {
	color: blue !important;
}